.App {
  text-align: center;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: #FF4500;
}

.quote {
  width: 700px;
  height: 100px;
  border: 1px grey solid;
  margin: auto;
  overflow: auto;
}

.type-box{
  width: 350px;
}


h1 {
  text-align: center;
}